{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='template.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='forms.css')}}">
{% endblock %}

{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ggiphy</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

        <form class="forms" method="POST" action="{{ url_for('login') }}">
            <h2> Sign In </h2>
            <div class="form-group">
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.remember) }}
            {{ form.recaptcha }}
            </div>
            <div class="form-spacing text-center">
                <button class="btn btn-md btn-primary " type="submit">Sign In</button>
            </div>
            <div class="form-spacing text-center">
                <a href="{{ url_for('register') }}"> Not a member? Register here!</a>
            </div>
        </form>


    </div>
{% endblock %}